{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2>{{firstDish.name}}</h2>
								<p>{{firstDish.description}}</p>
								<a href="{{path('app_ordering', {id: firstDish.id})}}" class="site-btn">Order</a>
								<a href="{{path('app_menu')}}" class="site-btn sb-c2">See Menu</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('img/' ~ firstDish.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2>{{secondDish.name}}</h2>
								<p>{{secondDish.description}}</p>
								<a href="{{path('app_ordering', {id: secondDish.id})}}" class="site-btn">Order</a>
								<a href="{{path('app_menu')}}" class="site-btn sb-c2">See Menu</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('img/' ~ secondDish.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}
